@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto+Mono:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
}

h1, h2, h4, h6, p {
    color: #222;
}

h1 {
    font-size: 50px;
    line-height: 64px;
}

h2 {
    font-size: 46px;
    line-height: 54px;
}

h4 {
    font-size: 20px;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover, #navbar li a.active {
    color: #088178;
}

#navbar li a.active::after, #navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.login {
    display: flex;
    align-items: center;
}

.login-btn, .signup-btn {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: blue;
    border-radius: 10px;
    color: white;
    border: 1px solid #E3E6F3;
    cursor: pointer;
}

.signup-btn {
    margin-right: 0;
}

.login-btn:hover, .signup-btn:hover {
    background-color: rgb(25, 25, 230);
    font-weight: bold;
    transform: scale(1.1);
}

#mobile {
    display: none;
    align-items: center;
}

#mobile i {
    color: #1a1a1a;
    font-size: 24px;
}

#close {
    display: none;
}
button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
.remove-btn {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

.remove-btn:hover {
    background-color: #ec2929; /* Slight hover effect */
    color: white;
}


button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    outline: none;
    transition: 0.2s;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
   margin: 0 0 8px 0;
}

#newsletters .form{
    display: flex;
    width: 40%;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,footer a:hover{
    color: #088178;
}

footer a{
    font-size: 14px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 40px 80px;
}

.row{
    display: flex;
    flex-direction: column;
}

#cart {
    overflow-x: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    text-align: center;
}

#cart table img {
    width: 70px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead th {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table td {
    width: auto;
    height: auto;
}

#cart table td input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table tbody tr th {
    padding-top: 13px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: auto;
    margin-right: 60px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

#page-header.about-header {
    background-image: url("../img/banner.png");
}
#page-header {
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
}
#page-header h2, #page-header p {
    color: #fff;
    font-weight: 900;
}

@media (max-width:799px) {
    #navbar {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 10px 0;
        transition: 0.3s;
    }
    
    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature{
        justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    .section-p1{
        padding: 40px 40px;
    }
    #product1 .pro-container{
        justify-content: center;
    }
    #product1 .pro{
        margin: 15px;
    }
    #banner{
        height: 20vh;
    }
    #newsletters .form{
        width: 70%;
    }
    #cart table th, #cart table td {
        font-size: 14px;
        padding: 10px;
    }
    #cart table img {
        width: 80px;
    }
    #cart .remove-btn {
        font-size: 12px;
        padding: 10px 20px;
    }
}

@media (max-width:477px) {
    #header {
        padding: 10px 30px;
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
    h2{
        font-size: 32px;
    }
    h1{
        font-size: 38px;
    }
    .section-p1{
        padding: 20px;
    }
    #feature .fe-box{
        width: 155px;
        margin:0 0 15px 0;
    }
    #feature{
        justify-content: space-between;
    }
    #product .pro{
        width: 100%;
    }
    #banner{
        height: 40vh;
    }
    #newsletters .form{
        width: 100%;
    }
    #newsletters{
        padding: 40px 20px;
    }
    #cart-add {
        flex-direction: column;
    }

    #coupon {
        width: 100%;
    }

    #subtotal {
        width: 100%;
        padding: 20px;
    }
    #cart table th, #cart table td {
        font-size: 12px;
        padding: 8px;
    }
    #cart table img {
        width: 70px;
    }
    #cart .remove-btn {
        font-size: 10px;
        padding: 8px 16px;
    }
}